@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Lato', sans-serif;
}

.splide {
	padding: 0 !important;
}
.splide .splide__slide img {
	height: 100%;
	object-fit: cover;
}
.splide .splide__slide {
	@apply flex md:items-center items-end;
}
.splide .splide__pagination__page {
	border-radius: 50% !important;
	display: inline-block;
	height: 10px !important;
	border: 1px solid #fff;
	margin: 0 0.4rem;
	padding: 0;
	position: relative;
	transition: background-color 0.2s ease, color 0.2s ease;
	background: transparent;
	width: 10px;
}
.your-class-pagination .splide__pagination__page.is-active {
	background-color: #fff !important;
	opacity: 1;
	transform: scale(1);
}

@media (max-width: 767px) {
	.splide__list .splide__slide:nth-child(1) {
		background-image: url('/images/slide-1-mob.png') !important;
	}
	.splide__list .splide__slide:nth-child(2) {
		background-image: url('/images/slide-2-mob.png') !important;
	}
}
